
/*======================================= Variables CSS para uso general =======================================*/
:root{
    /* Variable para paleta de colores */
    --color1: #212529; /* Color gris oscuro */
    --color2: #ffffff; /* Color blanco */
    --color3: #ea1b26; /* Color rojo */
    --color4: #6a6b71; /* Color gris claro*/

    /* Variables para tipo de fuente */
    --fuente1: "Barlow", sans-serif;
    --fuente2: "Barlow Condensed", sans-serif;
}



/*================================ Selector universal para afectar todos los elementos ================================*/
* {
    /* Quitar los espacios prederterminados */
    padding: 0;
    margin: 0;
}



/*================================ Selectores de estilo de tipo etiqueta HTML ================================*/

html{
    /* Valor por defecto del rem */
    font-size: 16px;
    scroll-behavior: smooth;
}
h1 {
    font-size: 80px;
}

h2 {
    font-family: var(--fuente2);
    font-size: 30px;
    letter-spacing: 3px;
    color: var(--color3);
}

h3{
    font-size: 20px;
    font-weight: bold;
}

body{
    font-family: var(--fuente1);
    line-height: 1.8;
}


/*================================ Selectores de estilo de tipo Class ================================*/

.container {
    max-width: 85%;
    margin-left: auto;
    margin-right: auto;
}

.padding-sm {
    padding-top: 10px;
    padding-bottom: 10px;
}

.padding-xl {
    padding-top: 55px;
    padding-bottom: 55px;
}

.video-fluid {
    width: 100%;
    aspect-ratio: 16 / 9;
    display: block;
}

.img-fluid {
    width: 100%;
    height: auto;
    display: block;
}

/*------------------------------------ Selectores de Estilo para FLEXBOX ------------------------------------*/

.row{
    display: flex; /* Activa Flexbob */
    flex-direction: row; /* Orientación en fila*/
    flex-wrap: wrap; /* Flexbox multifila */

    /* Corrige los espacios de la 1era y última caja*/
    margin-left: -15px;
    margin-right: -15px;
}

/* Configura las columnas con el mismo ancho en una sola fila */
.col{
    flex-grow: 1;
    flex-basis: 0;

    /* Espacio entre columnas */
    padding-left: 15px;
    padding-right: 15px;

    /* Evita que se modifique el tamaño original de la caja en la columna*/
    box-sizing: border-box;
}

.col-25{
    max-width: 25%;
    flex-basis: 25%;
}

.col-33{
    max-width: 33.3%;
    flex-basis: 33.3%;
}

.col-40{
    max-width: 40%;
    flex-basis: 40%;
}

.col-50{
    max-width: 50%;
    flex-basis: 50%;
}

.col-60{
    max-width: 60%;
    flex-basis: 60%;
}

.col-75{
    max-width: 75%;
    flex-basis: 75%;
}

.col-100{
    max-width: 100%;
    flex-basis: 100%;
}

/*------------------------------------ Selectores del TOPBAR ------------------------------------*/

.topbar{
    background-color: var(--color4);
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 1rem;
}

.topbar a{
    color: var(--color2);
    text-decoration: none;
    margin-right: 10px;
}

.topbar-main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/*------------------------------------ Selectores del NAV BAR ------------------------------------*/

.header {
    background-color: var(--color1);
    color: var(--color2);
    position: sticky;
    top: 0;
    z-index: 100;
}

.nav-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav-logo{
    width: 150px;
}

.nav-menu {
    display: flex;
    /* gap: 1rem; */
}

.nav-menu-link {
    color: var(--color2);
    text-decoration: none; /* Quita el subrayado*/
    display: block;
    padding: 20px 20px;
    transition: all 0.3s ease-in-out;
}

.nav-menu-link:hover {
    color: var(--color2);
    background-color: var(--color3);
}

.nav-link-active{
    background-color: var(--color3);
    color: var(--color2);
}

.menu-toggle {
    font-size: 2rem;
    cursor: pointer;
    display: none;
}

/*------------------------------------ Selectores del VIDEO DEMO ------------------------------------*/

.video-caja-padre{
    position: relative;
}

.video-caja-hijo{
    position: absolute;
    bottom: 0px;
    left: calc(50% - 300px);
    width: 600px;
    height: auto;
    background-color: rgba(234, 27, 37, 0.4);
    color: var(--color2);
    text-align: center;
    font-size: 30px;
    font-weight: 600px;
    box-sizing: border-box;
    padding: 30px;
}

/* ----------------------------------------------
 * Generated by Animista on 2025-10-7 10:22:13
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-in-center
 * ----------------------------------------
 */
@-webkit-keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}
@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

.scale-in-center {
	-webkit-animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/*------------------------------------ Selectores del SECTION PERSONAL TÉCNICO ------------------------------------*/

.button-personal{
    background-color: var(--color3);
    color: var(--color2);
    padding: 5px 15px;
    border: none;
    font: inherit;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
}

.button-personal:hover{
    background-color: var(--color4);
}

.personal {
    background-color: var(--color1);
    color: var(--color2);
}

.img-fluid-j {
    width: 100%;
    height: 250px;
    display: block;
}

/*------------------------------------ Selectores del SECTION TABLA ------------------------------------*/

.table-size{
    width: 100%;
    border-collapse: collapse;
}

.table-caption{
    color: var(--color4);
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    margin-bottom: 15px;
}

.table th, .table td{
    border: 1px solid var(--color1);
    padding: 10px 10px;
    text-align: center;
}

.table thead{
    background-color: var(--color3);
    color: var(--color2);
}

/*------------------------------------ Selectores del SECTION ABOUT ------------------------------------*/

.about {
    background-color: var(--color2);
    color: var(--color1);
}

.button-about{
    background-color: var(--color3);
    color: var(--color2);
    padding: 5px 15px;
    border: none;
    font: inherit;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
}

.button-about:hover{
    background-color: var(--color4);
}

/*------------------------------------ Selectores del SECTION WORKERS ------------------------------------*/

.workers{
    background-color: var(--color1);
    color: var(--color2);
}

.button-workers{
    background-color: var(--color3);
    color: var(--color2);
    padding: 5px 15px;
    border: none;
    font: inherit;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
}

.button-workers:hover{
    background-color: var(--color4);
}

/*------------------------------------ Selectores del SECTION PRODUCTS ------------------------------------*/

.product {
    background-color: var(--color2);
    color: var(--color1);
}

.button-product{
    background-color: var(--color3);
    color: var(--color2);
    padding: 5px 15px;
    border: none;
    font: inherit; /* Hereda la fuente de su caja padre */
    cursor: pointer;
    transition: all 0.4s ease-in-out;
}

.button-product:hover{
    background-color: var(--color4);
}

/*------------------------------------ Selectores del SECTION VIDEO PROMO ------------------------------------*/

.video-promocion{
    background-color: var(--color1);
    color: var(--color2)
}

/*------------------------------------ Selectores del FORMULARIO ------------------------------------*/

.form-control{
    display: block;
    width: 100%;
    padding: 10px 5px;
    margin-bottom: 10px;
    font: inherit;
    border: none;
    outline: none;
    border-bottom: 1px solid var(--color3);
}

.form-link{
    color: var(--color3);
    text-decoration: none;

}

.form-submit{
    background-color: var(--color1);
    color: var(--color2);
    padding: 10px 20px;
    font: inherit;
    border: none;
    margin-top: 10px;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
}

.form-submit:hover{
    background-color: var(--color3);
}

.form-noresize{
    resize: none;
}

/*------------------------------------ Selectores del BANNER ------------------------------------*/

.banner{
    padding-top: 40px;
    padding-bottom: 40px;
    background: linear-gradient(90deg,rgb(68, 80, 88) 0%, rgba(28, 48, 63, 0.605) 50%), url("../img/banner.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    color: var(--color2);
}

.banner h3{
    color: var(--color3);
    font-size: 22px;
}

.banner a{
    display: block;
    color: var(--color2);
    text-decoration: none;
    font-size: 16px;
    margin: 6px 0px;
    transition: 0.3s;
}

.banner a:hover{
    color: var(--color3);
}

.banner-social-icons a {
    display: inline-block;
    padding: 10px;
    margin-right: 15px;
    font-size: 20px;
    color: var(--color2);
    text-decoration: none;
}

.banner-social-icons a:hover {
    color: var(--color3);
}

.banner-img-fluid {
    width: 50%;
    height: auto;
    display: block;
}

/*------------------------------------ Selectores del BLOG ------------------------------------*/



/*------------------------------------ Selectores del FOOTER ------------------------------------*/

.footer {
    background-color: var(--color1);
    color: var(--color2);
    text-align: center;
}

/*------------------------------------ Selectores de los PAGE-TITLE ------------------------------------*/

.page-title{
    padding-top: 30px;
    padding-bottom: 30px;
    background: linear-gradient(90deg,rgba(52, 72, 86, 1) 0%, rgba(32, 54, 70, 0.6) 50%), url("../img/page-title.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    color: var(--color2);
}

.page-title a{
    text-decoration: none;
    color: var(--color2);
}

.page-title-main{
    font-size: 50px;
    font-weight: 700;
    letter-spacing: 3px;
    color: var(--color2);
}

/*------------------------------------ Selectores del BOTÓN SCROLL-UP ------------------------------------*/

.scroll-up{
    width: 45px;
    height: 45px;
    text-align: center;
    line-height: 45px;
    background-color: var(--color1);
    color: var(--color2);
    border: 3px solid var(--color3);
    box-shadow: 0 15px 20px 0 rgba(32, 54, 70, 0.4);
    transition: all 0.4s;
    border-radius: 50%;

    position: fixed;
    bottom: 30px;
    right: 30px;
}

.scroll-up:hover{
    background-color: var(--color3);
    color: var(--color2);
    transform: scale(1.1) translateY(-5px);
}



/*------------------------------------ DISEÑO WEB RESPONSIVE: BREAKPOINTS ------------------------------------*/

/* Breakpoint para pantallas largas (large) 
de hasta 1200px de ancho */
@media screen and (max-width:1200px){
    .container{
        max-width: 80%;
    }

    .form-contact .row{
        align-items: center;
    }
}


/* Breakpoint para pantallas medianas (medium) 
de hasta 992px de ancho */
@media screen and (max-width:992px){
    .video-caja-hijo{
        /*Restablece su posicionamiento por defecto*/
        position: static;
        width: 100%;
    }
    
    .container{
        max-width: 85%;
    }
}


/* Breakpoint para pantallas pequeñas (small) 
de hasta 768px de ancho */
@media screen and (max-width:768px){
    .container{
        max-width: 90%;
    }
    
    .video-caja-hijo{
        /*Restablece su posicionamiento por defecto*/
        position: static;
        width: 100%;
    }

    .padding-xl{
        padding-top: 45px;
        padding-bottom: 45px;
    }
    
    h1, h2{
        font-size: 1.8em;
    }

    h3, h4{
        font-size: 1.3em;
    }

    .form-contact .col{
        flex-basis: 100%;
        max-width: 100%;
    }

    .video-promocion .col{
        flex-basis: 100%;
        max-width: 100%;
         margin-top: 20px;
        margin-bottom: 20px;
    }
    
    .menu-toggle{
        display: block;
    }
    
    /* Barra de menú responsive */
    .nav-menu{
        flex-direction: column;
        justify-content: center;
        text-align: center;
        background-color: var(--color4);

        position: absolute;
        top: 80px;
        right: 0px;
        width: 33%;

        /* Ocultar el menú */
        display: none;
    }

    .nav-menu-link{
        color: var(--color2);
        padding: 0.8rem 1rem;
        border-bottom: 1px solid var(--color2);
    }

    /* Clase que hace visible el nav-menu al hacer clic en el botton burguer
        Se ejecutará desde JavaScript */
    .nav-menu.show {
        display: block;
    }

    .banner{
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .banner a {
        margin: 4px 0;
    }

    .banner-social-icons a {
        margin-right: 10px;
        padding: 8px;
    }

    .banner-img-fluid {
        width: 70%;
        margin: auto;
    }
}

/* Breakpoint para pantallas extra pequeña o celular (x-small) 
de hasta 576px de ancho */
@media screen and (max-width:576px){
    .container{
        max-width: 95%;
    }

    .body{
        font-size: 0.9em;
    }

    h1, h2, h3, h4{
        text-align: center;
    }
    
    .padding-xl{
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .service .col{
        flex-basis: 100%;
        max-width: 100%;
    }

    .video-caja-hijo{
        font-size: 1.2em;
    }

    .topbar-main{
        flex-direction: column;
        align-items: center;
    }
    
    .banner {
        padding-top: 25px;
        padding-bottom: 25px;
    }

    .banner a {
        margin: 3px 0;
    }

    .banner-social-icons a {
        padding: 6px;
        margin-right: 8px;
    }

    .banner-img-fluid {
        width: 90%;
    }
}